<h3>Heros Index</h3>

<button id="abathur">Abathur!</button>
<ul>
  <% heros.each(function (hero) { %>
    <li>
      <a href="#/heros/<%= hero.id %>"><%= hero.escape("name") %></a>
    </li>
  <% }) %>
</ul>
