<h3>Heros Index</h3>

<button id="abathur">Abathur!</button>
<ul>
  <% heros.each(function (hero) { %>
    <li>
      <img class="heroImage" src="https://d1i1jxrdh2kvwy.cloudfront.net/Images/Heroes/Portraits/Murky.png"></img>
      <% $("li").data("model", hero); %>
    </li>
  <% }) %>
</ul>
