<div class="pageWrapper">
  <div class="teamWrapper">
    <div class="allyContainer teamContainer">
      <!-- <AlliedTeam teamComposition={this.state.AlliedTeam} /> -->
    </div>
  </div>

  <div class="teamWrapper">
    <div class="enemyContainer teamContainer">
      <!-- <EnemyTeam teamComposition={this.state.EnemyTeam} /> -->
    </div>
  </div>

  <div class="heroList">
    <!-- <HeroSelect HeroList = {this.state.HeroList} /> -->
  </div>

  <ul id="categories" className="clr">
    
  </ul>
</div>
