<div class="pageWrapper">

  <NavigationBar />
  <div className="SuggestionBox">
    <SuggestionBox />
  </div>

  <div class="teamWrapper">
    <div class="allyContainer teamContainer">
      <!-- <AlliedTeam teamComposition={this.state.AlliedTeam} /> -->
    </div>
  </div>

  <div class="teamWrapper">
    <div class="enemyContainer teamContainer">
      <!-- <EnemyTeam teamComposition={this.state.EnemyTeam} /> -->
    </div>
  </div>

  <div class="heroSuggestionsList">
    <!-- <HeroSelect HeroList = {this.state.HeroList} /> -->
  </div>

  <div id="reactApp" class="selectedContainer">

  </div>

  <ul id="categories" className="clr">

  </ul>
</div>
