body{
  font-family: 'Open Sans', arial, sans-serif;
  color: white;
  background-image: image-url('hots_bg.jpg');
}

#stats {
  height: 350px;
  width: 350px;
}

.selectionWrapper {
  margin-top: 10%;
}
*{
  margin:0;
  padding:0;
}
#categories{
  width:60%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  float:left;
  overflow:hidden;
  visibility:hidden;
  transform: rotate(-60deg) skewY(30deg);
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  transform: skewY(-30deg) rotate(60deg);
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%; top: -2%;
  width: auto; height:105%;
  margin:0 auto;
}

// /* HOVER EFFECT  */
// // @media (min-width:1201px) {

  #categories li{
    width:8.61%; /* = (100-4.5) / 5.5 */
    padding-bottom: 9.95%; /* =  width /0.866 */
    margin: 0.4%;
    margin-bottom: -2.3%;
  }

  #categories li:nth-child(n+11){
    left: 4.7%;
  }

  #categories li:nth-child(n+21){
    left: 0%;
  }

  #categories li:nth-child(n+31){
    left: 4.7%;
    margin-bottom: 0%;
  }

  // #categories li:nth-child(10n+6), #categories li:nth-child(10n+7), #categories li:nth-child(10n+8), #categories li:nth-child(10n+9), #categories li:nth-child(10n+10) {
  //   margin-top: -4.2%;
  //   margin-bottom: -4.2%;
  //   transform: translateX(50%) rotate(-60deg) skewY(30deg);
  // }
  // #categories li:nth-child(10n+6):last-child, #categories li:nth-child(10n+7):last-child, #categories li:nth-child(10n+8):last-child, #categories li:nth-child(10n+9):last-child, #categories li:nth-child(10n+10):last-child{
  //   margin-bottom:0;
  // }
  // #categories li:nth-child(n+12){
  //   margin-left:0.5%;
  // }
  // #categories li:nth-child(5n+2) {
  //   margin-left:1%;
  //   margin-right:1%;
  // }
  // #categories li:nth-child(5n+3),#categories li:nth-child(5n+4){
  //   margin-right:1%;
  // }


  // #categories li{
  //   width:17.364%; /* = (100-4.5) / 5.5 */
  //   padding-bottom: 20.05%; /* =  width /0.866 */
  // }
  // #categories li:nth-child(10n+6), #categories li:nth-child(10n+7), #categories li:nth-child(10n+8), #categories li:nth-child(10n+9), #categories li:nth-child(10n+10) {
  //   margin-top: -4.2%;
  //   margin-bottom: -4.2%;
  //   transform: translateX(50%) rotate(-60deg) skewY(30deg);
  // }
  // #categories li:nth-child(10n+6):last-child, #categories li:nth-child(10n+7):last-child, #categories li:nth-child(10n+8):last-child, #categories li:nth-child(10n+9):last-child, #categories li:nth-child(10n+10):last-child{
  //   margin-bottom:0;
  // }
  // #categories li:nth-child(10n+6){
  //   margin-left:0.5%;
  // }
  // #categories li:nth-child(5n+2) {
  //   margin-left:1%;
  //   margin-right:1%;
  // }
  // #categories li:nth-child(5n+3),#categories li:nth-child(5n+4){
  //   margin-right:1%;
  // }



// @media (max-width: 1200px) and (min-width:901px) {
//   #categories li{
//     width:21.444%; /* = (100-3.5) / 4.5 */
//     padding-bottom: 24.763%; /* =  width /0.866 */
//   }
//   #categories li:nth-child(8n+5), #categories li:nth-child(8n+6), #categories li:nth-child(8n+7), #categories li:nth-child(8n+8) {
//     margin-top: -5.298%;
//     margin-bottom: -5.298%;
//     transform: translateX(50%) rotate(-60deg) skewY(30deg);
//   }
//   #categories li:nth-child(8n+5):last-child, #categories li:nth-child(8n+6):last-child, #categories li:nth-child(8n+7):last-child, #categories li:nth-child(8n+8):last-child{
//     margin-bottom:0;
//   }
//   #categories li:nth-child(8n+5){
//     margin-left:0.5%;
//   }
//   #categories li:nth-child(4n+2) {
//     margin-left:1%;
//     margin-right:1%;
//   }
//   #categories li:nth-child(4n+3){
//     margin-right:1%;
//   }
// }

// @media (max-width: 900px) and (min-width:601px) {
//   #categories li{
//     // width:27.857%; /* = (100-2.5) / 3.5 */
//     // padding-bottom: 32.168%; /* =  width /0.866 */
//     width:27.857%; /* = (100-2.5) / 3.5 */
//     padding-bottom: 32.168%; /* =  width /0.866 */
//   }
//   #categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6), {
//     margin-top: -7.322%;
//     margin-bottom: -7.322%;
//     transform: translateX(50%) rotate(-60deg) skewY(30deg);
//   }
//   // #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
//   //   margin-bottom:0;
//   // }
//   // #categories li:nth-child(6n+4){
//   //   margin-left:0.5%;
//   // }
//   #categories li:nth-child(3n+2) {
//     margin-left:1%;
//     margin-right:1%;
//   }
// }
// @media (max-width: 600px) {
//   #categories li{
//     width:39.4%; /* = (100-1.5) / 2.5 */
//     padding-bottom: 45.496%; /* =  width /0.866 */
//   }
//   #categories li:nth-child(4n+3), #categories li:nth-child(4n+4){
//     margin-top: -10.392%;
//     margin-bottom: -10.392%;
//     transform: translateX(50%) rotate(-60deg) skewY(30deg);
//   }
//   #categories li:nth-child(4n+3):last-child, #categories li:nth-child(4n+4):last-child{
//     margin-bottom:0;
//   }
//   #categories li:nth-child(4n+3){
//     margin-left:0.5%;
//   }
//   #categories li:nth-child(2n+2) {
//     margin-left:1%;
//   }
// }
